/* #Tablet (Landscape)
================================================== */

@media only screen and (max-width: 1080px) {

/* Disable CSS animations */
.animated {
    -webkit-animation-duration: 0;
    animation-duration: 0;
    -webkit-animation-delay: 0;
    animation-delay: 0;
}

/* Disable Parallax */
.parallax-bg1, .parallax-bg2, .parallax-bg3 {
    background-position: 50% 0 !important;
}

}

/* #Tablet (Portrait)
================================================== */
    
@media only screen and (max-width: 959px) {


}

/* #Mobile (Landscape)
================================================== */

@media only screen and (max-width: 767px) {

.carousel-control.right span, .carousel-control.icon-next span {
    right: 20%;
}
.carousel-control.left span, .carousel-control.icon-prev span {
    left: 15%;
}

}

/*  #Mobile (Portrait)
================================================== */

@media only screen and (max-width: 440px) {

	
}

/* Estilo para pantallas más grandes (mayor de 768px de ancho) */
.logo img {
    width: 20%; /* Tamaño por defecto para pantallas grandes */
    height: auto;
}

/* Estilo para pantallas más pequeñas (menor de 768px de ancho, ajusta este valor según tus necesidades) */
@media screen and (max-width: 768px) {
    .logo img {
        width: 50%; /* Tamaño para dispositivos móviles */
        height: auto;
    }
}


